<table>
    <tr>
   {{#each items}} 
   <td>
   <a href="{{id}}.html"><img width="200px" height="100px" src="{{image}}"><p>{{name}}</p><p>{{price}}</p></a>{{/each}}
   </td>
    </tr>
   
</table>